@page "/Budgets/{budgetId:int}/Accounts/{accountId:int}/Transactions"

<h3>Transactions</h3>

<table class="table">
    <thead>
        <tr class="table-primary">
            <th scope="col" class="text-center"><h5>Transaction Date</h5></th>
            <th scope="col" class="text-center"><h5>Payee</h5></th>
            <th scope="col" class="text-center"><h5>Category</h5></th>
            <th scope="col" class="text-center"><h5>Outflow</h5></th>
            <th scope="col" class="text-center"><h5>Inflow</h5></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in _Transactions)
        {
            <tr>
                <td class="text-center">@transaction.TransactionDate</td>
                <td class="text-center fw-normal">@transaction.Payee</td>
                @if(transaction.CategoryId != null)
                {
                    <td class="text-center fw-normal">@_CategoryNames[(int)transaction.CategoryId]</td>
                }
                else
                {
                    <td class="text-center fw-normal">No Category</td>
                }

                @if (transaction.IsCredit)
                {
                    <td class="text-center fw-normal"></td>
                    <td class="text-center fw-normal text-success">@transaction.TransactionValue</td> @*Make these editable.*@
                }
                else
                {
                    <td class="text-center fw-normal text-danger">@transaction.TransactionValue</td>
                    <td class="text-center fw-normal"></td>
                }
            </tr>
        }
    </tbody>
</table>

<button Class="btn btn-primary" @onclick="async () => await _AddTransactionCollapse.ToggleAsync()">Add Transaction</button>
<Collapse class="col-md-12" @ref="_AddTransactionCollapse">
    <Card>
        <CardBody>
            <AddTransaction CollapseObj="_AddTransactionCollapse" _AccountId="accountId" _BudgetId="budgetId" />
        </CardBody>
    </Card>
</Collapse>

@code {
    [Parameter]
    public int budgetId { get; set; }

    [Parameter]
    public int accountId { get; set; }

    private Collapse _AddTransactionCollapse = default!;

    private List<Transaction> _Transactions = new();

    private Dictionary<int, string> _CategoryNames = new();

    private List<Category> _Categories = new();

    private List<Section> _Sections = new();

    protected override void OnInitialized()
    {
        using(var context = new ApplicationDbContext())
        {
            _Transactions = context.Transactions.Where(x => x.AccountId == accountId).ToList();
            _Sections = context.Sections.Where(x => x.BudgetId == budgetId).ToList();

            foreach(Section section in _Sections)
            {
                _Categories.AddRange(context.Categories.Where(x => x.SectionId == section.SectionId));
            }

            foreach(Category category in _Categories)
            {
                _CategoryNames.Add(category.CategoryId, category.CategoryName);
            }
        }
    }
}
